<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to(t('links.spielplan'), spiels_path) %></li>
      <li><%= link_to(t('links.tipps'), tipps_path) %></li>
      <li><%= link_to(t('links.score'), scores_path) %></li>
      <li class="active"><%= link_to(t('links.teams'), teams_path) %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_team_path if current_user.is_superuser? %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Teams</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
          <th><%= t("activerecord.attributes.team.name", :default => t("activerecord.labels.name", :default => "Name")) %></th>
          <th>Flagge</th>
          <th>Sympathisanten</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @teams.each do |team| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= team.id %></td>
          <td><%= link_to team.name, team_path(team) %></td>
          <td><%= image_tag team.name + '.png', :style=>'border: 1px solid black' %></td>
          <td><%= User.where('winner_id = ?', team.id).count %></td>
          <td class="last">
            <% if current_user.is_superuser? -%>
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", team_path(team) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_team_path(team) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", team_path(team), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
            <% end -%>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>