<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", spiels_path  %></li>
      <li><%= link_to("#{t("web-app-theme.new", :default => "New")}", new_spiel_path) if current_user.is_superuser? %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Spiele</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">Dein Tipp</th>
          <th><%= t("activerecord.attributes.spiel.state") %></th>
          <th></th>
          <th><%= t("activerecord.attributes.spiel.match") %></th>
          <th class="last"></th>
        </tr>
        <% @spiels.each do |spiel| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= link_to_new_or_edit_tipp(current_user.id, spiel.id) %></td>
          <td><%= link_to((spiel.result.empty? ? l(spiel.start_at) : spiel.result), spiel_path(spiel)) %></td>
          <td><%= image_tag spiel.team_a + '.png', :style=>'border: 1px solid black' %></td>
          <td><b><%= link_to spiel.versus, spiel_path(spiel) %></b></td>
          <td class='last'><%= image_tag spiel.team_b + '.png', :style=>'border: 1px solid black' %></td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
