<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", spiels_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_spiel_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", spiel_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.spiel.start_at", :default => t("activerecord.labels.start_at", :default => "Start at")) %>:</b>
          <%= @spiel.start_at %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.spiel.finsihed_at", :default => t("activerecord.labels.finsihed_at", :default => "Finsihed at")) %>:</b>
          <%= @spiel.finsihed_at %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.spiel.team_a_id", :default => t("activerecord.labels.team_a_id", :default => "Team a")) %>:</b>
          <%= @spiel.team_a_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.spiel.team_b_id", :default => t("activerecord.labels.team_b_id", :default => "Team b")) %>:</b>
          <%= @spiel.team_b_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.spiel.result", :default => t("activerecord.labels.result", :default => "Result")) %>:</b>
          <%= @spiel.result %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_spiel_path(@spiel), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), spiel_path(@spiel), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>