<div class='columns wat-cf'>
  <div class='columns left'>
    <div class='group'>
      <%= f.label @tipp.spiel.team_a, :class=>'label' %>
      <%= image_tag @tipp.spiel.team_a + '.png' %>
      <%= f.hidden_field :spiel_id %>
    </div>
    
    <div class="group">
      <%= f.label :team_a_result, t("activerecord.attributes.tipp.team_a_result", :default => "Team a result"), :class => :label %>
      <%= f.number_field :team_a_result, :class => 'number_field', :size=>4 %>
    </div>
  </div>

  <div class='columns right'>
    <div class='group'>
      <%= f.label @tipp.spiel.team_b, :class=>'label' %>
      <%= image_tag @tipp.spiel.team_b + '.png' %>
    </div>
    
    <div class='group'>
      <%= f.label :team_b_result, t("activerecord.attributes.tipp.team_b_result", :default => "Team b result"), :class => :label %>
      <%= f.number_field :team_b_result, :class => 'number_field', :size=>4 %>
    </div>
  </div>
</div>

<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), tipps_path, :class => "text_button_padding link_button" %>
</div>
