<% if @tipp.errors.any? -%>
<div class="flash">
  <div class="message error">
    <% @tipp.errors.each do |type,msg| -%><p><%= msg %></p><% end %>
  </div>
</div>
<% end -%>

<div class="inner">

<% if @tipp.spiel.ko %>
  <div class='flash'>
    <div class="message warning"><br>
      Achtung! Dies ist ein KO Spiel. Man kann nicht auf unentschieden Tippen. Gewertet wird der <b>absolute Endstand</b> des Spiels (nach dem Elfmeterschießen)<br>
    <br>
    </div>
  </div>
<% end -%>

<div class='columns wat-cf'>
  <div class='columns left'>
    <div class='group'>
      <%= f.label @tipp.spiel.team_a, :class=>'label' %>
      <%= image_tag @tipp.spiel.team_a + '.png', :style=>'border: 1px solid black' %>
      <%= f.hidden_field :spiel_id %>
    </div>
    
    <div class="group">
      <%= f.number_field :team_a_result, :class => 'number_field', :size=>4 %>
    </div>
  </div>

  <div class='columns right'>
    <div class='group'>
      <%= f.label @tipp.spiel.team_b, :class=>'label' %>
      <%= image_tag @tipp.spiel.team_b + '.png', :style=>'border: 1px solid black' %>
      <%= f.hidden_field :user_id %>
    </div>
    
    <div class='group'>
      <%= f.number_field :team_b_result, :class => 'number_field', :size=>4 %>
    </div>
  </div>
</div>

<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), tipps_path, :class => "text_button_padding link_button" %>
</div>
</div>