<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to(t('links.spielplan'), spiels_path) %></li>
      <li class="active"><%= link_to(t('links.tipps'), tipps_path) %></li>
      <li><%= link_to(t('links.score'), scores_path) %></li>
      <li><%= link_to(t('links.teams'), teams_path) %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Tipps</h2>
    <div class="inner">
      <table class="table small">
        <tr>             
          <th class="first">Spiel</th>
          <% User.where('is_superuser IS FALSE').order('name').all.each do |usr| %><th><span class="rotate"><small><%= nameify(usr.name) %></small></th><% end -%>
          <th>Spiel</th>
          <th class="last"></th>
        </tr>
        <% Spiel.order('start_at').all.each do |spiel| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= link_to spiel.versus, spiel_path(spiel) %></td>
          <% line = {}; @tipps.where('spiel_id = ?', spiel.id).all.each do |ele| line[ele.user_id] = ele end -%>
          <% User.where('is_superuser IS FALSE').order('name').all.each do |usr| -%>
            <% txt = (line[usr.id] ? line[usr.id].extra_small : '-:-') -%>
            <td><%= (current_user.is_superuser? or current_user.can_activate) ? link_to_new_or_edit_tipp(usr.id, spiel.id,'-:-',true)  : txt%></td>
          <% end -%>
          <td><%= link_to spiel.versus, spiel_path(spiel) %></td>
          <td class="last"></td>
          </tr>          
        <% end -%>
      </table>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>