<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", tipps_path  %></li>
      <li><%= link_to("#{t("web-app-theme.new", :default => "New")}", new_tipp_path) if current_user.is_superuser? %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Tipps</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
          <th>Spiel</th>
          <th>Spieler</th>
          <th>Tipp</th>
          <th class="last"></th>
        </tr>
        <% @tipps.each do |tipp| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= tipp.id %></td>
          <td><%= link_to tipp.spiel.versus, spiel_path(tipp.spiel) %></td>
	  <td><%= link_to tipp.user.name, tipp_path(tipp) %></td>
	  <td><%= tipp.small %></td>
          <td class="last"><%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_tipp_path(tipp) if current_user.id == tipp.user_id  %></td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
