<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to(t('links.spielplan'), spiels_path) %></li>
      <li><%= link_to(t('links.tipps'), tipps_path) %></li>
      <li><%= link_to(t('links.score'), scores_path) %></li>
      <li><%= link_to(t('links.teams'), teams_path) %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Dein  Tipp</h2>
    <div class="inner">
      <%= form_for @tipp, :url => tipps_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>