<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to(t('links.spielplan'), spiels_path) %></li>
      <li><%= link_to(t('links.tipps'), tipps_path) %></li>
      <li class="active"><%= link_to(t('links.score'), scores_path) %></li>
      <li><%= link_to(t('links.teams'), teams_path) %></li>
    </ul>
  </div>          
  <div class="content">
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Punkte</h2>
    <div class="inner">
      <table class="table pokal">
        <tr>
          <th class="first"><%= t('activerecord.attributes.score.rank') %></th>
          <th><%= t("activerecord.attributes.score.user_id") %></th>
          <th>3er Tipps</th>
          <th>1er Tipps</th>
          <th class="last"><%= t('activerecord.attributes.score.score') %></th>
        </tr> 
        <% last_score = 0; real_rank = 0 -%>
        <% @scores.each_with_index do |score,rank| -%>
        <% real_rank = score.total == last_score ? real_rank : rank -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td><b><%= real_rank+1 %></b></td>
          <td><%= image_tag(score.winner + '.png', :style=>'border: 1px solid black; height: 25px') %><%= image_tag('raus.png', :style=>'height: 31px; z-index: 2; margin-left: -35px;margin-top:-2px; position: absolute') if score.loser == 't' %> <%= nameify(score.name) %></td>
          <td><i><%= Score.where(:score => 3).where(:user_id=>score.user_id).count %></i></td>
          <td><i><%= Score.where(:score => 1).where(:user_id=>score.user_id).count %></i></td>
          <td><b><%= score.total %></b></td>
        </tr>
        <% last_score = score.total -%>
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>