<!DOCTYPE html>
<html>
<head>
  <title>ComCard Tippspiel</title>
  <%= stylesheet_link_tag 'web_app_theme' %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><a href="/"><%= t(:headline)%></a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li style='color: white'>angemeldet als: <%= nameify(current_user.name) %></li>
          <li><%= link_to(t("web-app-theme.settings", :default => "Settings"), edit_user_registration_path) %></li>
          <li><%= link_to(t("web-app-theme.logout", :default => "Logout"), destroy_user_session_path, :method=>:delete, :class=>'logout') %></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div>
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main" <%= "class='monster'" if controller.controller_name == 'tipps' and controller.action_name == 'index' %>>
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> <%= t :author %></p>
          </div>
        </div>
      </div>
      <% unless (controller.controller_name == 'tipps'  and controller.action_name == 'index') -%>
      <div id="sidebar">
        <%= yield :sidebar %>
        <div class="block">
          <h3>Links</h3>
            <br>
            <center><%= image_tag 'Logo.png' %></center>
            <ul class="navigation">
            <li><%= link_to(t('links.spielplan'), spiels_path) %></li>
            <li><%= link_to(t('links.tipps'), tipps_path) %></li>
            <li><%= link_to(t('links.score'), scores_path) %></li>
            <li><%= link_to(t('links.teams'), teams_path) %></li>
          </ul>
        </div>
      </div>
    </div>
    <% end -%>
  </div>
</body>
</html>
